{
  "openapi": "3.0.3",
  "info": {
    "title": "EmberQA Call Scoring API",
    "description": "Submit call recordings programmatically for scoring and analysis. This API allows you to integrate call scoring directly into your existing systems and workflows.\n\n## Authentication\nAll requests require a Bearer token in the Authorization header. API keys are provided on the EmberQA dashboard under the \"Integrations\" tab.\n\n## Audio Requirements\n- **Supported formats:** MP3, WAV\n- **Maximum file size:** 20MB\n- **Audio quality:** Minimum 8kHz sample rate recommended",
    "version": "1.0.0",
    "contact": {
      "name": "EmberQA Support",
      "url": "https://emberqa.com"
    }
  },
  "servers": [
    {
      "url": "https://api.emberqa.com/api",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/scoring/submitRecording": {
      "post": {
        "summary": "Submit Call Recording",
        "description": "Submit a call recording for scoring and analysis by providing a publicly accessible URL to the audio file.",
        "operationId": "submitRecording",
        "tags": [
          "Scoring"
        ],
        "x-mint": {
          "content": "## Audio Requirements\n\nBefore submitting recordings, ensure they meet these requirements:\n\n- **Supported formats:** MP3, WAV\n- **Maximum file size:** 20MB\n- **Audio quality:** Minimum 8kHz sample rate recommended"
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaUrlRequest"
              },
              "example": {
                "agent_name": "John D",
                "media_url": "https://example.com/call-audio.mp3",
                "metadata": {
                  "key1": "value1",
                  "key2": "value2"
                },
                "language": "en",
                "supporting_docs": [
                  "https://example.com/crm-information.pdf",
                  "https://example.com/customer-notes.txt"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "File Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "File Accepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or file format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large - File exceeds 20MB limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - File format not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/scoring/submitDocument": {
      "post": {
        "summary": "Submit Document",
        "description": "Submit a document for scoring and analysis by providing a publicly accessible URL to the PDF file.",
        "operationId": "submitDocument",
        "tags": [
          "Scoring"
        ],
        "x-mint": {
          "content": "## Document Requirements\n\nBefore submitting documents, ensure they meet these requirements:\n\n- **Supported formats:** PDF\n- **Maximum file size:** 20MB"
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentUrlRequest"
              },
              "examples": {
                "single_url": {
                  "summary": "Single document URL",
                  "value": {
                    "agent_name": "John D",
                    "media_url": "https://example.com/document.pdf",
                    "metadata": {
                      "key1": "value1",
                      "key2": "value2"
                    }
                  }
                },
                "multiple_urls": {
                  "summary": "Multiple document URLs",
                  "value": {
                    "agent_name": "John D",
                    "media_url": [
                      "https://example.com/document1.pdf",
                      "https://example.com/document2.pdf"
                    ],
                    "metadata": {
                      "key1": "value1",
                      "key2": "value2"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "File Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                },
                "example": {
                  "message": "File Accepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid parameters or file format",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "Payload Too Large - File exceeds 20MB limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type - File format not supported",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "API key obtained from the EmberQA dashboard under the \"Integrations\" tab"
      }
    },
    "schemas": {
      "MediaUrlRequest": {
        "type": "object",
        "required": ["media_url"],
        "properties": {
          "agent_name": {
            "type": "string",
            "description": "Name of the agent who handled the call",
            "example": "John D"
          },
          "media_url": {
            "type": "string",
            "format": "uri",
            "description": "Publicly accessible URL to the audio file (MP3 or WAV, max 20MB)",
            "example": "https://example.com/call-audio.mp3"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Key-value pairs for additional call metadata",
            "example": {
              "customer_id": "12345",
              "call_type": "support",
              "department": "technical"
            }
          },
          "language": {
            "type": "string",
            "description": "Language code for the call audio. Defaults to English (\"en\") if not provided. Use ISO 639-1 language codes, except for Mandarin which uses ISO 639-3 code \"cmn\". See supported languages list in documentation.",
            "example": "en",
            "default": "en"
          },
          "supporting_docs": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "description": "Array of publicly accessible URLs to supporting documents. Supported file types: PDF (.pdf), Text (.txt), Images (.jpg)",
            "example": [
              "https://example.com/crm-information.pdf",
              "https://example.com/customer-notes.txt",
              "https://example.com/screenshot.jpg"
            ]
          }
        }
      },
      "DocumentUrlRequest": {
        "type": "object",
        "required": ["media_url"],
        "properties": {
          "agent_name": {
            "type": "string",
            "description": "Name of the agent who handled the interaction",
            "example": "John D"
          },
          "media_url": {
            "oneOf": [
              {
                "type": "string",
                "format": "uri",
                "example": "https://example.com/document.pdf"
              },
              {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uri"
                },
                "example": [
                  "https://example.com/document1.pdf",
                  "https://example.com/document2.pdf"
                ]
              }
            ],
            "description": "Publicly accessible URL(s) to the PDF file(s) (max 20MB each). Can be a single URL string or an array of URL strings."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Key-value pairs for additional document metadata",
            "example": {
              "customer_id": "12345",
              "interaction_type": "support",
              "department": "technical"
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "File Accepted"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message describing what went wrong"
          },
          "details": {
            "type": "string",
            "description": "Additional details about the error (optional)"
          }
        }
      }
    }
  }
}
